.App {
  text-align: center;
}

table, th, td {
  border:1px solid black;
}

.currentVisited{
  background-color: skyblue;
  color: black;
}

.previouslyVisited{
  background-color: rgb(241, 65, 65);
  color: black;
}

.attempted{
  background-color: green;
  color: white;
}

.questionBox{
  background-color: rgb(241, 222, 245);
  border: solid 2px rgb(78, 74, 74);
  margin: 10px 0px 5px 0px;
  padding: 15px;
  border-radius: 5px;
}

.loader{
  align-items: center;
}